<% //</* Gurman Singh 301183986 COMP229*/> %> 
<% if(title == "About Me") { %>
    <div class="borders" style="padding-top: 20px;">
      <h2>About me</h2>
      <img src="/Assets/images/image.png" height="450px" width="340px" class="centre"/>
      <table>
          <tr> 
              <td>Name: </td> <br>
              <td>Gurman Singh</td>
          </tr>
          <tr> 
            <td valign="top">About me: </td>
              <td>
                  My name is Gurman Singh. I'm Software engineering student at Centennnial College, Toronto , Canada. I was born and raised in Jammu, Jammu and Kashmir, India. <br>
                  I did my high school in 2020 and decided to move to Canada for my higher studies .  <br>
                  I have a lot of hobbies, I like to travel, explore tech, read books and much more.I have YouTube channel where I post my content related to tech.I would really love to travel more and more in future, if I have a job that allows me to work remotely will really help me.<br>
                  I am an introvert who likes to stay by himself and I don't interact much.
              </td>
          </tr>
          <tr> 
              <td>Resume: </td>
              <td><a href="/Assets/resume.pdf">Click Here</a></td>
          </tr>
      </table>
  </div>
    <% } %>  