<% //</* Gurman Singh 301183986 COMP229*/> %> 
<% if(title=="Contact Me") { %> 
    <div class= "borders" style="padding-top: 20px;">
      <h2>Contact Me</h2>
      <table>
          <tr>
              <td>Contact number: </td>
              <td>(+437) 980 7121</td>
          </tr>
              
          <tr>
              <td>Email</td>
              <td> gurman@gurmansingh.com</td>
          </tr>
      </table>
  </div>
    <% } %> 