<% //</* Gurman Singh 301183986 COMP229*/> %> 

<script src="/bootstrap/dist/css/bootstrap.min.js"></script>
  <script src="/jquery/dist/jquery/min.js"></script>
  <script src="/Scripts/app.js"></script>
</body>
</html>
