<% //</* Gurman Singh 301183986 COMP229*/> %> 
<% if (title == "Home") {%>
    <div class="borders" style="padding-top: 20px;">
      Hey There! Welcome to my WebPage! <br>
       <br> <br>

      Thanks for stopping by! 
       
      <br><br><br>
      <strong>Mission</strong> <br>
      A software engineering student passionate about programming. <br>
      I am interested in working for a company that would make utilization of my potential. <br>
      I am open to work from any location.
  </div>
    <% } %> 