<% //</* Gurman Singh 301183986 COMP229*/> %> 
<% if(title=="Projects") { %> 
    <div class="borders" style="padding-top: 20px;">
      <h2>Projects</h2>
      
              <td>
                  <strong>HandyMan Services application</strong><br>
                  I dont have any big projects of my own right now but I will love to work on a project that is my idea to make life easier of the home owners:
                  <br>
                 
              </td>
             An essential home services application where customers can book appointment for various home needs in one application like:
               <li> HVAC services</li>
                <li> Plumbing services</li>

                <li> Electrician services</li>
               
         
  </div>
    <% } %> 