<% //</* Gurman Singh 301183986 COMP229*/> %> 
  <% if(title == "Services") { %> 
    <div class="borders" style="padding-top: 20px;">
      <h2>Services</h2>
      <ol>
          <li>Website Development</li>
          <li>C# programming</li>
          <li>Content writer</li>

      </ol>
  </div>
  <% } %> 